@model HTMX.Web.Models.Contacts.ContactFormViewModel

@{
    ViewData["Title"] = "Edit Contact";
}

@* little trick to colocate the markup of two separate forms *@
<form id="edit-form"
      asp-controller="Contacts"
      asp-action="PostEdit"
      asp-route-id="@Model.Id"
      method="post"></form>
<form id="delete-form"
      asp-controller="Contacts"
      asp-action="Delete"
      asp-route-id="@Model.Id"
      method="post"></form>
<h3>Update Contact</h3>
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
        <partial name="_ContactForm" model="@Model"/>
        <button type="submit" form="edit-form" class="btn btn-success">
            <i class="fa fa-floppy-disk"></i>
            Save
        </button>
        <button type="submit" form="delete-form" class="btn btn-danger float-end">
            <i class="fa fa-trash"></i>
            Delete
        </button>
    </div>
</div>

<p>
    <a asp-controller="Contacts"
       asp-action="Index"
       class="btn btn-primary"
       role="button">
        <i class="fa fa-home"></i>
        Home
    </a>
</p>